<footer>
  <small>
    This project is maintained by <a href="https://www.danurbanowicz.com">Dan Urbanowicz</a>.
    Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.
  </small>
</footer>


<div class="css-site-footer py-5">
    <div class="container">
      
            <div class="row pb-5">

                  <div class="col text-md-left">

                    <a class="navbar-brand" href="#">
                      <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                      Bootstrap.com
                    </a>

                  </div>
                  <div class="col text-md-right">
                       <a href="#!" class="pr-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></a>
                       <a href="#!" class="pr-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></a>
                       <a href="#!" class="pr-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.5" y2="6.5"></line></svg></a>
                       <a href="#!" class="pr-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg></a>
                  </div>

            
            </div> 
            <div class="row py-3">

                  <ul class="list-unstyled col-6 col-lg">
                    <li><span class="h h6">About</span></li>    
                    <li><a href="#!">About us</a></li>
                    <li><a href="#!">Our staff</a></li>
                    <li><a href="#!">Advertise with us</a></li>
                    <li><a href="#!">Becoming a contributor</a></li>
                    <li><a href="#!">Contact us</a></li>
                  </ul> 

                  <ul class="list-unstyled col-6 col-lg">    
                    <li><span class="h h6">Support</span></li>
                    
                    
                    <li><a href="#!">Sitemap</a></li>
                    <li><a href="#!">RSS</a></li>
                     <li><a href="#!">Becoming a contributor</a></li>
                     <li><a href="#!">How to send us an article</a></li>
                  </ul> 

                  <ul class="list-unstyled col-6 col-lg">    
                    <li><span class="h h6">Legal</span></li>
                    <li><a href="#!">Comment policy</a></li>
                    <li><a href="#!">Cookies policy</a></li>
                    <li><a href="#!">Commerce policy</a></li>
                    <li><a href="#!">Disclaimer</a></li>

                  </ul> 

                  <div class="col-sm-12 col-lg text-center text-lg-left">

                       

<h3 class="h h6">Get Week In Africa in your inbox</h3>
<p>A smart synthesis of news from Africa...
</p>

<form class="form-inline">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="address@email.com" aria-label="address@email.com" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">Subscribe</button>
  </div>
</div>
<small class="privacy-label">By signing up you agree with our <a href="/privacy-policy" target="_blank"> privacy policy</a></small>
</form>



                     <p style="display:none">  

Sign up for the Executive Summary
Our biweekly newsletter that shares the latest marketing news and trends, alongside updates from the Insider Inc. family of brands.

WeekinAfrica is published by The Excellence Lab Group, a Kahunga Holdings Company.</p>
                  </div>
                   
            </div> 


    <div class="row mt-5 ">
    <div class="col">
    <div class="border-top py-3">
    <p class="pl-0 col-lg-6 text-center text-lg-left">
    All contents © 2018 The Excellence Lab Group LLC. All rights reserved. Registration on or use of this site constitutes acceptance of our <a href="#!">Terms of Service</a>, <a href="#!">Privacy Policy</a> and <a href="#!">Cookies Policy</a>.
    </p>  
    </div>
    </div> 




    </div>
</div>

</div>
