<nav class="navbar navbar-dark bg-dark">
  <ul class="navbar-nav">
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <li class="nav-item">
      <a class="nav-link" href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
    </li>
  {%- endfor -%}
  </ul>
</nav>
