<section class="container">
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} class="media" data-current="current item"{% endif %}>
		

{% if thumbnail %}
<img
srcset="{{ thumbnail }} 320w, {{ thumbnail }} 550w"
sizes= "(max-width: 550px) calc(100vw - 120px), 550px"
src="{{ thumbnail }}"
class="mr-3"
alt="">
{% endif %}

		
		<div class="media-body">
			<h3 class="media-title">
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if post.data.summary %}
				<p>
					{{ post.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ post.date | machineDate }}">
					<small>{{ post.date | readableDate }} by {{ metadata.author.name }}</small>
				</time>
			</p>
			{% if post.data.tags %}
				<p>
					{% for tag in post.data.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
			</div>
		</article>
	{% endfor %}
</section>
